* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: "Inter", sans-serif;
  background-color: #1a1a1a;
  color: #f0f0f0;
}

.App {
  height: 100%;
}

.full-screen-section {
  height: 100vh;
  /* Full screen height */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
  text-align: center;
  scroll-snap-align: start;
  transition: background-color 0.5s ease;
}

/* Enable smooth scroll for entire page */
html {
  scroll-behavior: smooth;
  overflow-y: scroll;
  /* Ensures scrolling */
}

/* Optional: Set scroll snap behavior */
.App {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: scroll;
}
